@model inventario_coprotab.Models.DBInventario.Dispositivo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Dispositivo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoInventario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoInventario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NroSerie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NroSerie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaAlta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaAlta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaBaja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaBaja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockActual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockActual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockMinimo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockMinimo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoRegistro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMarcaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMarcaNavigation.IdMarca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoNavigation.IdTipo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdDispositivo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
