@model IEnumerable<inventario_coprotab.Models.DBInventario.Movimiento>

@{
    ViewData["Title"] = "Movimientos";
}

<h2>Movimientos</h2>

<p>
    <a class="btn btn-primary" asp-controller="Movimiento" asp-action="Create">Nuevo</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Dispositivo</th>
            <th>Tipo</th>
            <th>Fecha</th>
            <th>Ubicación</th>
            <th>Responsable</th>
            <th>Cantidad</th>
            <th>Observaciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdDispositivo</td>
               @*  //IdMovimiento IdDispositivo TipoMovimiento
                //Fecha IdUbicacion IdResponsable  Cantidad  Observaciones *@

                <td>@item.TipoMovimiento</td>
                <td>@item.Fecha.ToString("dd/MM/yyyy")</td>
                <td>@item.TipoMovimiento</td>
                <td>@item.</td>
                <td>@item.Cantidad</td>
                <td>@item.Observaciones</td>
            </tr>
        }
    </tbody>
</table>
